@font-face {
  font-family: "Netflix Sans";
  src: url("../../assets/fonts/netflix-sans-cufonfonts-webfont/OpenSans/OpenSans-Regular.ttf")
    format("ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Netflix Sans Medium";
  src: url("../../assets/fonts/netflix-sans-cufonfonts-webfont/OpenSans/OpenSans-Medium.ttf")
    format("ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Netflix Sans Thin";
  src: url("../../assets/fonts/netflix-sans-cufonfonts-webfont/OpenSans/OpenSans-Light.ttf")
    format("ttf");
  font-weight: 100;
}
