@font-face {
  font-family: "Netflix Sans";
  src: url("../../assets/fonts/netflix-sans-cufonfonts-webfont/NetflixSansRegular.woff")
    format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Netflix Sans Medium";
  src: url("../../assets/fonts/netflix-sans-cufonfonts-webfont/NetflixSansMedium.woff")
    format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Netflix Sans Thin";
  src: url("../../assets/fonts/netflix-sans-cufonfonts-webfont/NetflixSansThin.woff")
    format("woff");
  font-weight: 100;
}
