@mixin buttonStyle {
  padding: 5px 15px;
  margin: 0;
  border-radius: 3px;
  margin-right: 10px;
}
.member-menu-global-wrapper {
  width: 100%;
  background-color: gray;
  padding: 3px 50px;
  display: flex;
  align-items: center;
  .member-menu_container {
    display: flex;
    width: 100%;
    span {
      color: rgb(90, 5, 5);
      line-height: 100%;
      align-self: center;
    }
    .member-nav {
      display: flex;
      margin-left: 50px;
      .my-profile_link {
        background-color: black;
        @include buttonStyle;
        &:hover {
          box-shadow: 0 0 3px rgb(0, 0, 0);
        }
      }
      .my-movies_link {
        @include buttonStyle;
        background-color: blue;
      }
    }
  }
}
